.section-title {
    padding:9px !important;
	float:left;
	line-height:1.3em;
	font-size:23px;
	margin:0;
}
.section-title .fa.fa-blue {
    color: #96240A;
	margin:0px 11px 0px 0px;
}


.mpmat-section-header {
	float:left; 
	width:100%; 
	background: mintcream; 
	margin: 11px 0 0 0;
	border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.mpmat-section-body {
	clear:both;
	float:left; 
	width:100%; 
	background-color: white;
	border-bottom: 1px solid #bbb;
	border-left: 4px solid #24960A;
    margin: 3px 0px 11px 0px;
    padding: 1px 12px 1px 12px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 3px 3px 3px #ccc;
}

.mpmat-source-configurator {
	padding:15px 0 0 0;
}

.small-header {
	margin:7px 0 7px 0;
	font-size: 1.4em;
	line-height: 1.4em;
}

.collapsible-header {
	padding:0.5em;
}
.collapsible-body {
	padding:1em;
}

.collapsible-body h3 {
	margin:0;
	font-size:2em;
}
.collapsible-body .section {
	margin:0;
	padding:0;
}
.card {
	max-width:none;
}